/*Para poder incluir este archivo tengo que darlo de alta en RESOURCES>VIEWS>app.blade. 
Icluirlo en el header para que aplique a todo*/
body{
}

/* Esta mascara controla el tamaño principal de las miniaturas*/
.video-image-mask{
	width: 150px;
	height: 100px;
	/* Lo que se salga de la pantalla lo oculte*/
	overflow: hidden;
}

/*Como las imagenes son muy grandes hacemos esto. A los elementos 
dentro de video-image-class que dentro tengan elementos de tipo video-image
 les ponemos un with del 100%*/
.video-image-mask .video-image{
width: 105%;

}

/*  Alos elementos .panel-body que hayan dentro la del ID (#)video-list, les trabajo el padding*/
.video-data {
padding: 5px;
}

/*Esto maneja el formato del titulo de los videos*/
.video-title{
	font-weight: bold;
	font-size: 18px;
}

/*Para controlar el tamaño del reproductor de video*/
/*Estos son los setting para que sea responsive*/

#video-player{
width: 100%;
height: auto;
}

.comments-item{
	padding: 5px;
}
/********************************************************************************/
/* Con esto manipulamos el boton del filtro de busquedas */
/*Importante asegurarse de borrar la CACHE de LAravel
  Aveces no se reflejan los cambios si no se borra la cache
  Creamos una ruta para que nos borre la cache
  Aveces es necesario tambien borrar el cache del navegador*/
.filter{
	display: block;
	margin-top: 5px;
}


.panel-edicion-user{
padding: 10px;

}
